<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link th:href="@{/style.css}" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <title>Show Cruise Details</title>


</head>
<body>
<div class="container booking-details">
    <h2>Booking Details</h2>
    <div class="detail-container">
        <div class="container details" th:if="${bookingDetails != null}">
            <strong th:utext="'Welcome ' + ${bookingDetails.firstName}"></strong>
            <p>Your booking details are as follows:</p>
            <p>Email Address: <span th:text="${bookingDetails.email}"></span></p>
            <p>Phone Number: <span th:text="${bookingDetails.areaCode} + '-' + ${bookingDetails.contactNumber}"></span></p>
            <p>Cruise Type: <span th:text="${bookingDetails.roomType}"></span></p>
            <p>No of Guests: <span th:utext="${bookingDetails.getNumberOfGuests()}"></span></p>
            <p>Price per room: <span th:text="${bookingDetails.price}"></span></p>
        </div>

        <div class="container details" >
            <h4>Cost of Trip</h4>
            <b th:text="${bookingDetails.getRoomType()}"></b>
            <p>Cost of ticket(s): <span th:text="'CAD ' + ${bookingDetails.price} + ' X ' + ${bookingDetails.numberOfGuests}"></span></p>
            <p>Discount: <span th:text="'CAD ' + ${bookingDetails.discount()}"></span></p>

            <p>Taxes and Fees: <span th:text="'CAD ' + ${bookingDetails.taxes()}"></span></p>
            <p>Cruise Trip Total:  <span th:text="'CAD ' + ${bookingDetails.grandTotal()}"></span></p>
        </div>
    </div>


</div>


</body>
</html>
